/*General Body style*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header section */
header{
    background-color:#062d44 ;
    color:#dcddce ;
    text-align:center ;
}

/* Profile image */
.Profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgb(37, 114, 1);
}

/*nava bar styling*/

.navbar{
    background-color: rgb(129, 143, 182);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 30px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 400px;
}
.nav-item{
    margin: 0;
}
/*nava link styling*/

.nav-link{
    text-decoration: none;
    color: rgb(243, 240, 233);
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
/*Image style */
.Profile-pic{
    width: 150px;
    height: 150px;
    align-items: center;
    justify-items: center;
    position: relative;
    border-radius: 50%;
    
}

.nav-link:hover {
    background-color: #6e2f05;
    border-radius: 5px;
    color: #222221;
}
.hire-button{
    background-color: #193c86;
    border: none;
    padding: 10px 20px;
    border-radius: 5px ;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.hire-button a {
    color: rgb(250, 252, 242);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hire-button:hover{
    background-color: rgb(107, 71, 5);
    color: rgb(29, 22, 2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }
    
    .hire-button {
        align-self: flex-end;
    }
}
footer{
    background-color: #383838;
    padding: 20px;
    text-align: center;
    justify-items: center;
    margin: 0px;
}